<section class="tab">
    <ul class="nav nav-pills">

       <!-- Primera pestaña descripcion. Al <li> le añadimos ng-class y la funcion isSet(1) para añadirle la clase
       "active" cuando la pestaña seleccionada sea la misma que 1, la de este Li-->
        <li ng-class=" {active:tab.isSet(1)}">

           <!-- Le añadimos al hipervinculo que, al clicar sobre el, seleccione la pestaña numero 1 -->
            <a href ng-click="tab.setTab(1)">Description</a>
        </li>

        <!-- Segunda pestaña Specs. Al <li> le añadimos ng-class y la funcion isSet(2) para añadirle la clase
       "active" cuando la pestaña seleccionada sea la misma que 2, la de este Li-->
        <li ng-class="{active:tab.isSet(2)}">

           <!-- Le añadimos al hipervinculo que, al clicar sobre el, seleccione la pestaña numero 2 -->
            <a href ng-click="tab.setTab(2)">Specs</a>
        </li>

        <!-- Tercera pestaña Reviews. Al <li> le añadimos ng-class y la funcion isSet(3) para añadirle la clase
       "active" cuando la pestaña seleccionada sea la misma que 3, la de este Li-->
        <li ng-class="{active:tab.isSet(3)}">

           <!-- Le añadimos al hipervinculo que, al clicar sobre el, seleccione la pestaña numero 3 -->
            <a href ng-click="tab.setTab(3)">Reviews</a>
        </li>
    </ul>

    <!-- Div que contiene la descripcion solo se mostrara si la pestaña seleccionada es la 1 -->
    <product-description ng-show="tab.isSet(1)">

    </product-description>

    <!-- Div que contiene la Specs solo se mostrara si la pestaña seleccionada es la 2 -->
    <div product-specs ng-show="tab.isSet(2)">
    </div>

    <!-- Div que contiene las Revews solo se mostrara si la pestaña seleccionada es la 3 -->
    <div ng-show="tab.isSet(3)">
        <h4>Reviews</h4>
        <ul class="nav">
            <li ng-repeat="review in product.reviews">
            <blockquote>
                <strong>{{review.stars}} Stars</strong>
                {{review.body}}
                 <cite class="clearfix">-{{review.author}} on {{review.createdOn | date}}</cite>
            </blockquote>
            </li>
        </ul>

        <!--  Review Form -->
        <form name="reviewForm" ng-controller="ReviewController as reviewCtrl" 
            ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
            <!--  Live Preview -->
            <blockquote>
                <strong>{{reviewCtrl.review.stars}} Stars</strong>
                {{reviewCtrl.review.body}}
                <cite class="clearfix">-{{reviewCtrl.review.author}}</cite>
            </blockquote>
            <!--  /Live Preview -->

            <h4>Submit a Review</h4>

            <fieldset class="form-group">
                <select class="form-control" ng-options="stars for stars in [5,4,3,2,1]"  title="Stars" 
                        ng-model="reviewCtrl.review.stars" required>
                    <option value="">Rate the Product</option>
                </select>
            </fieldset>

            <fieldset class="form-group">
                <textarea class="form-control" placeholder="Write a short review of the product..." title="Review"
                          ng-model="reviewCtrl.review.body"></textarea>
            </fieldset>

            <fieldset class="form-group">
                <input type="email" class="form-control" placeholder="jimmyDean@example.org" title="Email" 
                    ng-model="reviewCtrl.review.author" required/>
            </fieldset>

            <fieldset class="form-group">
                <input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
            </fieldset>
        </form>
    </div>
</section>