<!DOCTYPE HTML>
<html ng-app="musica">
    <head>
        <meta charset="utf-8">
        <title>MUSICA</title>
        <link rel="stylesheet" type="text/css" href="style.css">
        <script src="angular.min.js"></script>
        <script src="app.js"></script>
    </head>

    <body>
        <div>
            <div class="caja" ng-controller="listasController">
            <p class="titulo">ARTISTAS<p>
                <ul class="lista" ng-repeat="artista in artistas">
                    <li  class="borderArtista" ng-click="mostrarDiscografia = !mostrarDiscografia">{{ artista.nombre }}</li>
                    <ul class="lista" ng-show="mostrarDiscografia" ng-repeat="discos in artista.discografia">
                        <li  class="borderAlbum" ng-click="mostrarCanciones = !mostrarCanciones">{{discos.nombre}}</li>
                        <ul class="lista" ng-show="mostrarCanciones" ng-repeat="canciones in discos.canciones">
                            <li class="borderCancion">{{ canciones.nombre}}</li>
                        </ul>
                    </ul>
                </ul>
            </div>
            <div ng-click="mostrarForm = !mostrarForm">
               <form name="formulario" ng-submit="formularioUsuario.$valid && nuevoUsuario()" novalidate>
                   
                   
               </form>
            </div>
        </div>
    </body>
</html>
